@* @model PierreSweets.Models.Treat

<h1>Edit</h1>
<hr/>
<h2>Edit this treat: @Html.DisplayFor(model => model.Name)</h2>
<hr/>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)
    @Html.HiddenFor(model => model.Flavors)

    <div class="form-group">
        <h3>@Html.LabelFor(model => model.Name)</h3>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <h3>@Html.LabelFor(model => model.Description)</h3>
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <h3>@Html.LabelFor(model => model.Price)</h3>
        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @step="0.01", @type="number" } })
    </div>

    <input type="submit" value="Save" class="btn btn-success"/>
}<hr/>
<h3>@Html.ActionLink("Back to list of treats", "Index", null, null, new { @class = "tab" } )</h3> *@