@model PierreSweets.Models.Order

<h1>Edit</h1>

<hr/>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.OrderId)
    @Html.HiddenFor(model => model.Price)

    <div class="form-group">
        <h3>@Html.LabelFor(model => model.Description)</h3>
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <input type="submit" value="Save" class="btn btn-success"/>
}<hr/>
<h3>@Html.ActionLink("Back to list of orders", "Index", null, null, new { @class = "tab" } )</h3>