@model PierreSweets.Models.Treat

<h1>Add a flavor</h1>
<hr/>
<h3>Add a flavor to treat @Html.DisplayFor(model => model.Name)</h3>
<hr/>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    <div class="form-group">
      <h3>@Html.Label("Select flavor")</h3>
      @Html.DropDownList("FlavorId", null, null, new { @class = "form-control" })
    </div>
    <input type="submit" value="Save" class="btn btn-success"/>
}
<hr/>
<h3>@Html.ActionLink("Back to treat", "Details", new {id = Model.TreatId}, new { @class = "tab" } )</h3>
<h3>@Html.ActionLink("Back to list of treats", "Index", null, null, new { @class = "tab" } )</h3>